<header class="index-heading">
    <section class="head11 flex">
        <div class="head11-left">
            <img src="assets/images/flag.gif" alt="" width="35" height="20">
            <h3>Gift Basket and Hampers Delivery in Germany</h3>
        </div>
        <div class="head11-right">
            <a href="" alt="Corporate Orders">Corporate Orders</a>
        </div>
    </section>

    <div class="head2 flex">
        <div class="logo">
            <div class="logo-img" onclick="window.location.href=''">
                <img src="assets/images/sitelogo.webp" alt="Logo" width="312" height="82">
            </div>
            <p>Send Gift Baskets & Hampers to Germany</p>
        </div>

        <div class="search-bar2">
            <div class="search-bar2-main">
            <input type="text" name="searchKey" id="searchKey" placeholder="Search flowers, cakes etc." pattern=".{3,}" required="" title="3 characters minimum">
            <button type="submit" id="searchbtnn" aria-label="searchbtnn" class="search-btn serbtnnew"><i><fa-icon [icon]="search"></fa-icon></i></button>
            </div>
            <label id="searchAlert"></label>
        </div>

        <div class="head2-right flex">
            <a href="" class="head2-options" aria-label="contact us">
                <p>Contact Us</p>
            </a>
            <a href="" class="head2-options" title="Login"aria-label="login">
                <i><fa-icon [icon]="usericon"></fa-icon></i>
            </a>
            <!-- <a href="" class="pre-navigation ico-login">Log Out</a> -->
                <a href="" class="head2-options">
                    <i><fa-icon [icon]="carticon"></fa-icon></i>
                </a>
            
        </div>
    </div>
   
</header>
