<footer class="flex" id="footmenu">
    <div class="f-categories">
    <p>categories</p>
    <ul>
    <li><a href="flowers_usa.asp" title="Flowers">flowers</a></li>
    <li><a href="plants_usa.asp" title="Plants">plants</a></li>
    <li><a href="fruits_usa.asp" title="Fresh Fruits">fresh fruits</a></li>
    <li><a href="cakes_usa.asp" title="Cakes">cakes</a></li>
    <li><a href="chocolates_usa.asp" title="Chocolates">chocolates</a></li>
    <li><a href="winegifthampers.asp" title="Wines">wines</a></li>
    <li><a href="gift-basket.asp" title="Gift Baskets">gift baskets</a></li>
    <li><a href="corporate-gift.asp" title="Corporate Gifts">corporate gifts</a></li>
    <li><a href="sameday_usa.asp" title="Same Day Delivery">same day delivery</a></li>
    </ul>
    </div>
    <div class="f-categories">
    <p>occasions</p>
    <ul>
    <li><a href="birthday_usa.asp" title="Birthday">birthday</a></li>
    <li><a href="anniversary_usa.asp" title="Anniversary">anniversary</a></li>
    <li><a href="wedding_usa.asp" title="Wedding">wedding</a></li>
    <li><a href="condolence_usa.asp" title="Condolence">condolence</a></li>
    <li><a href="valentine_usa.asp" title="Valentine's Day">valentine's day</a></li>
    <li><a href="womensday_usa.asp" title="Women's Day">women's day</a></li>
    <li><a href="fathersday_usa.asp" title="Father's Day">father's day</a></li>
    <li><a href="christmas_usa.asp" title="Christmas Gifts">christmas gifts</a></li>
    <li><a href="mothersday_usa.asp" title="Mother's Day">mother's day</a></li>
    <li><a href="newyear_usa.asp" title="New Year Gifts">new year gifts</a></li>
    </ul>
    </div>
    <div class="f-categories">
    <p>locations</p>
    <ul>
    <li><a href="">Aachen</a></li>
    <li><a href="">Berlin</a></li>
    <li><a href="">Kassel</a></li>
    <li><a href="">Ottersberg</a></li>
    <li><a href="">Moritzburg</a></li>
    <li><a href="">Zittau</a></li>
    <li><a href="">Heidelberg</a></li>
    <li><a href="">Iserlohn</a></li>
    <li><a href="">Vechta</a></li>
    <li><a href="">Weimar</a></li>
    </ul>
    </div>
    <div class="f-categories">
    <p>policy info.</p>
    <ul>
    <li><a href="about_us.asp">about us</a></li>
    <li><a href="terms.asp">terms & conditions</a></li>
    
    <li><a href="contact_us.asp">contact us</a></li>
    <li><a href="disclaimer.asp">disclaimer</a></li>
    <li><a href="sitemap.asp">site map</a></li>
    </ul>
    </div>
    
    <div class="f-categories">
    <div class="f-logo">
        <a href="">
        <img src="assets/images/sitelogo.webp" alt="" width="100%" height="75"></a>
    <p><b>&copy;</b>&nbsp;2022 by <a href="" style="color:black;">giftbasketsgermany.de</a></p>
     
       
    </div>
    </div>
    </footer>
