<nav class="categories flex">
    <ul class="flex PC-menu">
        <li class="cat-menu ">
            <a onClick="cat_menu_show()" class="category-btn">All Categories<span class="fa fa-caret-down"></span></a>
            <div class="cat-mega-menu">
                <ul class="cat-menu-ul">
                <li><a  href="" title="Exclusive Gift Baskets">Gourmet Gift Baskets</a></li>
                <li><a href="" title="Wine Gift Baskets">Wine Gift Baskets</a></li>
                <li><a href="" title="chocolate">Chocolates</a></li>
                <li><a href="" title="Hampers">Hampers</a></li>
                <li><a href="" title="Luxury Gift Baskets">Luxury Gift Baskets</a></li>					
                </ul>
                <ul class="cat-menu-ul">
                <li><a href="" title="Fruit Gift Baskets">Fruit Gift Baskets</a></li>
                <li><a href="" title="Plants">Plants</a></li>
                <li><a href="" title="Fresh Flowers">Fresh Flowers</a></li>
                <li><a href="" title="Christmas Hampers">Christmas Hampers</a></li>
                <li><a href="" title="No-Alcohol Gift Baskets">No-Alcohol Baskets</a></li>
                </ul>
                <ul class="cat-menu-ul">
                <li><a href="" title="Same Day Delivery">Same Day Delivery</a></li>
                <li><a href="" title="Gift Baskets">Gift Baskets</a></li>
                <li><a href="" title="Corporate Gifts">Corporate Gifts</a></li>
                <li><a href="" title="Kosher Gift Baskets">Kosher Gift Baskets</a></li>
                </ul>
                <ul class="cat-menu-ul">
                <li><a href="" title="Scottish Hamper">Scottish Hamper</a></li>
                    <li><a href="" title="British Hamper">British Hamper</a></li>
                <li><a href="" title="Irish Hamper">Irish Hamper</a></li>
                <li><a href="" title="Gluten Free Hamper">Gluten-Free Hamper</a></li>
                </ul>
            </div>
        </li>
        <li class="oc-menu" onClick="abc()">
            <a href="#" class="occation-btn">All Occasions<span class="fa fa-caret-down"></span></a>
            <div class="oc-mega-menu">
            <ul class="oc-menu-ul">
            <li><a href="anniversary_usa.asp" title="Anniversary">Anniversary</a></li>
            <li><a href="birthday_usa.asp" title="Birthday">Birthday</a></li>
            <li><a href="congratulation_usa.asp" title="Congratulation">Congratulation</a></li>
            <li><a href="condolence_usa.asp" title="Condolence">Condolence</a></li>
            </ul>
            <ul class="oc-menu-ul">
            <li><a href="newborn_usa.asp" title="New Born">New Born</a></li>
            <li><a href="wedding_usa.asp" title="Wedding">Wedding</a></li>
            <li><a href="halloween_usa.asp" title="Halloween Gifts ">Halloween Gifts</a></li>
            </ul>
            <ul class="oc-menu-ul">
            <li><a href="fathersday_usa.asp" title="Father's Day ">Father' Day</a></li>
            <li><a href="christmas_usa.asp" title="Christmas Gifts">Christmas Gifts</a></li>
            <li><a href="mothersday_usa.asp" title="Mother's Day">Mother's Day</a></li>
            </ul>
            <ul class="oc-menu-ul">
            <li><a href="newyear_usa.asp" title="New Year">New Year Gifts</a></li>
            <li><a href="thanksgivingday.asp" title="Thanks Giving Day">Thanksgiving Gifts</a></li>
            <li><a href="valentine_usa.asp" title="Valentine Day">Valentine Day</a></li>
            </ul>
            </div>
        </li>
        <li><a href="" title="Weding">Weding</a></li>
        <li><a href="" title="Birthday">Birthday</a></li>
        <li><a href="" title="Wine">Wine</a></li>
        <li><a href="" title="Location">Where we deliver</a></li>
        <li><a href="" title="Sale">Sale</a></li>
    </ul>
</nav>
