<section class="new-banner">
    <div class="first-banner" onclick="window.location.href=''">
        <img class="img1" src="assest/images/gourment_left_banner.webp" alt=""/>
        <div class="first-banner-text">
            <div class="first-banner-heading">
                <p>GOURMET GIFT BASKETS</p>
            </div>
            <div class="div-banner-content"></div>
           <a class="banner-link" href="" title="Gourmet Gift Baskets">Buy Now</a>   
        </div>
    </div>

    <div class="second">
        <div class="second-small-banner" onclick="window.location.href=''">
            <img class="img2" id="img-2" src="assest/images/birthday_banner.webp" alt="Birthday Banner"/>
            <div class="second-banner-text">
                <div class="second-banner-heading">
                    <p>BIRTHDAY GIFT BASKETS</p>
                </div>
                <div class="second-banner-content"></div>
                <a class="banner-link" href="" title="Birthday">Buy Now</a>
            </div>
        </div>
        <div class="second-small-banner" onclick="window.location.href=''">  
            <img id="img-2"class="img2" src="assest/images/alcohol_free_banner.webp" alt="Alcoholfree Gift Baskets"/>
                <div class="second-banner-text">
                    <div class="second-banner-heading">
                    <p>ALCOHOLFREE GIFT BASKETS</p>
                    </div>
                    <div class="second-banner-content">
                    </div>
                    <a class="banner-link" href="" title="Alcoholfree Gift Baskets">Buy Now</a>
                </div>
        </div>
        <div class="second-small-banner" onclick="window.location.href=''">     
            <img class="img2" id="img-4" src="assest/images/corporate_banner.webp" alt="Corporate Gift Baskets"/>
            <div class="third-banner-text">
                <div class="third-banner-heading">
                    <p>CORPORATE GIFT BASKETS</p>
                </div>
                <div class="third-banner-content"></div>
                <a class="banner-link" href="" title="Corporate Gift Baskets">Buy Now</a>
            </div>
        </div>
        <div class="second-small-banner" onclick="window.location.href=''">
            <img class="img2"id="img-2" src="assest/images/romantic_gifts_banner.webp" alt="Romantic Gift Baskets"/>
                <div class="fourth-banner-text">
                    <div class="fourth-banner-heading">
                        <p>ROMANTIC GIFT BASKETS</p>
                    </div>
                    <div class="fourth-banner-content"></div>
                    <a class="banner-link" href="" title="Romantic Gift Baskets">Buy Now</a>
                </div>
        </div>
    </div>
</section>
